html {
  scroll-behavior: smooth;
  scroll-padding-top: 320px;
  overflow-x:hidden;
}

*{
    margin: 0;
    padding: 0;
  }

.secret{
  color: #00000000;
  font-size: 17px;
}

.darkfade2{
  transform: scaleY(-1);
  height: 200px;
  width: 100%;
  position: fixed;
  top: 0px;
}
.darkfade{
  height: 300px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

  body{
      color:white;
      font-size: 60px;
    font-family:'Times New Roman', Times, serif;
      background: rgb(0,0,0);
  }

::selection{
    color:#000;
    background: #00808071;
}

.toplink{
  text-decoration:none;
  color:white;
}

.navbar {
  margin-top: -20px;
  background-color: rgb(143, 143, 143, 0.174);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: top 0.3s;
}

.navbar ul {
  overflow: auto;
  margin: 10px auto 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
}

.navbar ul li {
  display: table-cell;
  position: relative;
  padding: 8px 30px;
  font-size: 30px;
}

.navbar ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 30px;
  position: relative;
}

.navbar ul li a:after {
  color: #fff;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar ul li a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(143, 143, 143, 0.174);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding-top:0;
  padding-left:23px;
  padding-right:23px;
  padding-bottom: 20px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 100px; /* Increase font size */
}

#myBtn:hover {
  color: #050801;
}



  img{
    object-fit:cover;
    z-index: 1;
      pointer-events: none;
  }
  
  .heading{
    margin-top:-200px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size:100px;
    background-color: rgb(143, 143, 143, 0.143);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    position: fixed;
    width: 500%;
    overflow: hidden;
    z-index: 100;
    color: white;
  }

.top{
  margin-top:190px;
}
#stars{
  padding-top:150px;
}
.text{
    font-size: 30px;
}

.nowrap {
  white-space: nowrap ;
}

 .topic{
    font-size: 80px;
    text-align: center;
     padding-top:30px;
  }
  .title {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: cover;
    background-image:rgb(143, 143, 143, 0.174);
  }

  .text{
    background-color: rgb(143, 143, 143, 0.074);
    object-fit: cover;
    padding-top: 5px;
    text-align:center;
    padding-bottom: 5px;
    padding-left: 2000px;
    padding-right: 2000px;
  }
  
  
  
  /* Parallax base styles */
  .parallax {
    -webkit-perspective: 1px;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
      top:0;
  }
  .parallaxlayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .parallaxlayer--base{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .parallaxlayer--back{
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }

.gap{
  margin-top: -450px;
}

.halfmoon{
    width:100%;
    overflow-x:hidden;
}

.size{
    font-size:33px;
    overflow-x:hidden;
    line-height:41px;
    margin-left:15px;
    text-align: left;
}

.multiverse{
  font-size:29px;
}


:root {
  --color-bg-accent: #ecdcc07e;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}


* {
  box-sizing: border-box;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}


.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}


/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  z-index: 1;
  margin-top: 100px;
  margin-bottom: 100px;
    background-image:url("IMG_20230116_220144.jpg");
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.wrapper img{
    height:450px;
    width:410px;
  background-color: rgb(143, 143, 143, 0.143);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
  z-index: 1;
  border-radius: 15px;
}

.album{
  margin-top:-500px;
}

.details{
  margin-top:-112px;
  margin-left: 30px;
  z-index: 900;
  padding-bottom: 25px;
    font-size:37px;
    font-family: "Courier New", Courier, monospace;
}


::-webkit-scrollbar {
  width: 0px;
}


.section {
  margin-top: 40px;
  height: 10vh;
  position: relative;
  width: 100%;
  padding-bottom:100px;
}

.section::before {
  margin-top: 100px;
  animation: bounce 3s ease infinite;
  color: #fff;
  content: '╲╱';
  left: 50%;
  margin-left: -4.5rem;
  letter-spacing: -1px;
  line-height: 4rem;
  opacity: 1;
  position:absolute;
  text-align: center;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}

.intro{
  line-height:43px;
  margin-top:-560px;
  font-size: 33px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: justify;
  opacity:0.8;
}

.intro::first-letter {
  font-size: 500%;
}




.end {
   background: rgb(11, 11, 11);
  background-image: linear-gradient(to right, transparent 29px, rgba(65, 65, 65, 0.273) 1px),
        linear-gradient(to bottom, transparent 29px, rgba(65, 65, 65, 0.273) 1px);
        background-size: 30px 30px;
  padding-top: 0px;
  padding-bottom: 150px;
}
.link a{
  text-decoration: none;
  color: grey;
  font-size: 26px;
  line-height: 80px;
}

.link {
  text-align: left;
  margin-left: 10%;
}

.link a:hover{
  color:white;
}

.multiverse a{
  line-height: 80px;
  text-decoration: none;
  color: grey;
  font-size:22px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10%;
}
.multiverse a:hover{
  color:white;
}

.connect{
  color: grey;
  font-size: 35px;
  text-align: center;
}
.colour{
  pointer-events: auto;
}
.colour:hover{
  pointer-events: auto;
  filter:invert(1);
  transform:scale(1.03);
  transform-duration:0.4s;
  transition-timing-function: ease-in-out;
}

.policy a{
  color: grey;
  text-decoration: none;
  font-size:12px;
}
.policy{
  color: grey;
  font-size:11px;
  text-align: center;
  line-height: 80px;
}
.policy a{
  color: grey;
  font-size:11px;
  line-height: 80px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10%;
}


/* Solar System Styles */

.clearfix {
  z-index: 1;
  margin-left: auto;
  margin-right:auto;
}

.solarsystem {
  z-index: 1;
  margin-left: 40%;
  margin-bottom: -400px;
}

ul.solarsystem {
  position: relative;
  height: 480px;
  list-style: none;
  -webkit-transition: all 0.09s ease-in;
  -moz-transition: all 0.09s ease-in;
  -o-transition: all 0.09s ease-in;
  transition: all 0.09s ease-in;
  overflow: hidden;
}

ul.solarsystem li {
  text-indent: -9999px;
  display: block;
  position: absolute;
  border: 2px solid #ffffff38;
  /*    opacity: 0.7;*/
}

ul.solarsystem li span {
  display: block;
  position: absolute;
  width: 7.5px;
  height: 7.5px;
  -webkit-border-radius: 3.75px;
  -moz-border-radius: 3.75px;
  border-radius: 3.75px;
}

ul.solarsystem li.active {
  border-color: #aa4200;
}

ul.solarsystem li.active.sun,
ul.solarsystem li.active span {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

ul.solarsystem li.active.sun span,
ul.solarsystem li.active.earth .moon {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

ul.solarsystem li.sun {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #fc3;
  background-image: -webkit-gradient(linear,
          left bottom,
          left top,
          color-stop(0.22, rgb(204, 153, 0)),
          color-stop(1, rgb(255, 219, 112)));
  background-image: -moz-linear-gradient(center bottom,
          rgb(204, 153, 0) 22%,
          rgb(255, 219, 112) 100%);
  top: 226.6px;
  left: 346.5px;
  border: none;
  -webkit-box-shadow: 0 0 50px #c90;
  -moz-box-shadow: 0 0 50px #c90;
  box-shadow: 0 0 50px #c90;
  z-index: 100;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

ul.solarsystem li.sun span {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
}

ul.solarsystem li.earth {
  width: 165px;
  height: 165px;
  -webkit-border-radius: 84px;
  -moz-border-radius: 84px;
  border-radius: 84px;
  top: 157.5px;
  left: 277.5px;
  z-index: 97;
}

ul.solarsystem li.earth span {
  background: #06c;
  top: 42px;
  left: 3.75px;
}

ul.solarsystem li.earth span.moon {
  width: 3px;
  height: 3px;
  -webkit-border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  border-radius: 1.5px;
  background: #ccc;
  top: 9px;
  left: 9px;
}



/* CSS3 Animations */
ul.solarsystem li {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit;

  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-name: orbit;
}

ul.solarsystem li.earth span {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: moon;

  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-name: moon;
}


ul.solarsystem li.earth {
  -webkit-animation-duration: 13.37s;
  -moz-animation-duration: 13.37s;
}

ul.solarsystem li.earth span {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}


@-webkit-keyframes orbit {
  from {
      -webkit-transform: rotate(0deg)
  }

  to {
      -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes moon {
  from {
      -webkit-transform: rotate(0deg)
  }

  to {
      -webkit-transform: rotate(360deg)
  }
}

@-moz-keyframes orbit {
  from {
      -moz-transform: rotate(0deg)
  }

  to {
      -moz-transform: rotate(360deg)
  }
}

@-moz-keyframes moon {
  from {
      -moz-transform: rotate(0deg)
  }

  to {
      -moz-transform: rotate(360deg)
  }
}

/*ul.solarsystem:hover li {-webkit-animation-play-state: paused;} */

.lot {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
}

.topimage{
  width:100%;
  margin-top:0px;
}

.plane {
  margin-top: 80px;
  font-size: 60px;
  z-index: 0;
}

.iss {
  z-index: 3;
}

.signal{
  margin-bottom: 0px;
  position: absolute;
  font-size: 50px;
  text-shadow: 0 0 20px #ffffff, 0 0 35px #ffffff, 0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 80px #ffffff, 0 0 30px #ffffff, 0 0 108px #ffffff;
  color: #ffffff;
  animation: blink 1s infinite;
  -webkit-animation: blink 1s infinite;
  z-index: -1;
}

@-webkit-keyframes blink {

  20%,
  24%,
  55% {
      color: #111;
      text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
      text-shadow: 0 0 20px #ffffff, 0 0 35px #ffffff, 0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 80px #ffffff, 0 0 30px #ffffff, 0 0 108px #ffffff;
      color: #ffffff;
  }
}

@keyframes blink {

  20%,
  24%,
  55% {
      color: #111;
      text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
      text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 10px #ffffff, 0 0 98px #ffffff;
      color: #ffffff;
  }
}

.move{
  margin-top: -35px;
  position: absolute;
}

.satellite{
  height: 3px;
}
#s2{
  padding-left: 700px;
}
#s3{
  padding-left: 300px;
}
#s4{
  padding-left: 1000px;
}
#s5{
  padding-left: 100px;
}


.slider {
  margin-top: -630px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.slider_cont{
  /* background-image responsive */
  width: 100%;
  height: 100%;
  background-image: url(stars1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgb(0,0,0,.9);
  animation: slide_img 20s infinite;
}

.slide_img{
  width: 100%;
}

@keyframes slide_img {
  20% {
    background-image: url(stars2.jpg);
  }
   
  40% {
    background-image: url(stars3.jpg);
  }
  
  60% {
    background-image: url(stars4.jpg);
  }
  
  80% {
    background-image: url(stars2.jpg);
  }
  
  100% {
    background-image: url(stars1.jpg);
  }
 }



/*====================RESPONSIVE=======================*/

@media(min-width:1000px) {
  .text{
    font-size: 14px;
}
  
  .details{
  margin-top:-65px;
  margin-left: 30px;
  z-index: 1900;
  padding-bottom: 25px;
    font-size:14px;
    font-family: "Courier New", Courier, monospace;
}
  #container {
    width: 50%;
    margin-left: 25%;
  }
  .heading{
    margin-top:0px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size:40px;
  }

  .heading {
    margin-top:10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 40px;
  }
.album{
  margin-top:-100px;
}
  .navbar {
    margin-top: 60px;
  }

  .navbar ul li {
    padding: 0px 17px;
    font-size: 17px;
  }

  #myBtn {
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 18%;
    padding: 20px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 40px;
    /* Increase font size */
    cursor: none;
  }

  .top {
    margin-top: -10px;
  }

  .plane {
    margin-top: 150px;
    font-size: 20px;
    z-index: 0;

  }

  .iss {
    z-index: 3;
    height: 20px;
  }

  .signal {
    font-size: 20px;
  }

 .move{
  margin-top: 45px;
  position: absolute;
}

  .satellite {
    height: 4px;
  }

.link a{
  line-height: 40px;
}
  .intro {
    font-size: 15px;
    margin-top: -190px;
  }

  .section {
    margin-top: 14px;
    height: 5vh;
    padding-bottom: 0px;
  }

  .section::before {
    margin-top: 40px;
  }

  .slider {
    margin-top: -200px;
    width: 80%;
    margin-left: 10%;
  }

  .darkfade2 {
    transform: scaleY(-1);
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0px;
  }

  .darkfade {
    height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0px;
  }

  .topic {
    font-size: 40px;
  }

  .gap {
    margin-top: -10px;
  }

  .marquee__group img {
    height: 200px;
  }


    .wrapper img {
      height: 230px;
      width: 190px;
      background-color: #5656567e;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 50px;
      border-radius: 5px;
      z-index: 1;
    }

    .gap .parallax .parallaxlayer--back .title img{
      height: 600px;
    }

    
.solarsystem {
  z-index: 1;
  margin-left: 27%;
  margin-bottom: -350px;
}
  
  
  html {
  scroll-padding-top: 160px;
}
  
  .end{
    width: 100%;
    margin-left: 0%;
    padding-bottom: 90px;
  }
  .photo{
    height:200px;
  }

.navbar ul li {
  padding: 0px 30px;
}

.navbar ul li a {
  padding: 0px 30px;
}
  .connect{
  font-size: 25px;
}
  .satellites{
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
  }
  
}
#sign{
  padding-top:20px;
    height: 80px;
}

form {
    margin-left: 12.5%;
    margin-right: auto;
    width: 75%;
    height: 500px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(76, 76, 76, 0.5);
    -moz-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
}

textarea {
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
    width: 95%;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, .6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    /*margin-bottom: 20px;*/
    overflow: hidden;
}

input {
    width: 95%;
    height: 80px;
    border: 1px solid rgba(255, 255, 255, .4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    cursor: pointer;
}

input.name {
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px 16px;
    padding-left: 25px;
}

input.email {
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
    padding-left: 25px;
}

input.message {
    background: rgba(255, 255, 255, 0.4) url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
    padding-left: 25px;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

input:focus,
textarea:focus {
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    overflow: hidden;
}

.btn {
    margin-top:70px;
    width: 250px;
    height: 88px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: right;
    border: 1px solid #253737;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -ms-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

.btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
    background: -webkit-linear-gradient(top, #77b2b0, #416b68);
    background: -moz-linear-gradient(top, #77b2b0, #416b68);
    background: -ms-linear-gradient(top, #77b2b0, #416b68);
    background: -o-linear-gradient(top, #77b2b0, #416b68);
    background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
    color: #fff;
}

.btn:active {
    margin-top: 67px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: #6da5a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#416b68), to(#416b68));
    background: -webkit-linear-gradient(top, #416b68, #609391);
    background: -moz-linear-gradient(top, #416b68, #6da5a3);
    background: -ms-linear-gradient(top, #416b68, #6da5a3);
    background: -o-linear-gradient(top, #416b68, #6da5a3);
    background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
    color: #fff;
    -webkit-box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
}
.contactus {
    font-family:'Times New Roman', Times, serif;
    padding-bottom:30px;
    margin-top:-50px;
    text-align: center;
    font-size:50px;
}
