*{
    margin: 0;
    padding: 0;
  }
  body{
      font-size: 60px;
    font-family:century gothic;
    background-color: rgb(15, 15, 15);
  }

  img{
    object-fit:cover;
    z-index: 1;
  }
  
  .heading{
       padding-top: 30px;;
padding-bottom: 30px;
    font-size:100px;
    background-color: rgba(0, 0, 0, 0.579);
    position: fixed;
    width: 500%;
    overflow: hidden;
    z-index: 100;
    color: white;
  }
  .title {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: cover;
    background-image
  }
  
  
  /* Parallax base styles */
  .parallax {
    -webkit-perspective: 1px;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
      top:0;
  }
  .parallaxlayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .parallaxlayer--base{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .parallaxlayer--back{
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }
  
canvas {
    object-fit: cover;
    height: 2000px;
    background: radial-gradient(ellipse at bottom, #000000 0%, #000000 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
