*{
    margin: 0;
    padding: 0;
  }
  body{
      color:white;
      font-size: 60px;
    font-family:century gothic;
      background: rgb(0,0,0);
  }

::selection{
    color:#000;
    background: rgb(255, 255, 0, 0.500);
}    
  img{
    object-fit:cover;
    z-index: 1;
      pointer-events: none;
  }
  
  .heading{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size:100px;
    background-color: rgb(143, 143, 143, 0.143);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    position: fixed;
    width: 500%;
    overflow: hidden;
    z-index: 100;
    color: white;
  }

.top{
    padding-top:60px;
}

.text{
    font-size: 30px;
}

.nowrap {
  white-space: nowrap ;
}

 .topic{
    font-size: 80px;
    text-align: center;
     padding-top:30px;
  }
  .title {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: cover;
    background-image:rgb(143, 143, 143, 0.174);
  }

  .text{
    background-color: rgb(143, 143, 143, 0.074);
    object-fit: cover;
    padding-top: 5px;
    text-align:center;
    padding-bottom: 5px;
    padding-left: 2000px;
    padding-right: 2000px;
  }
  
  
  
  /* Parallax base styles */
  .parallax {
    -webkit-perspective: 1px;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
      top:0;
  }
  .parallaxlayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .parallaxlayer--base{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .parallaxlayer--back{
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }
  
.end{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(18, 18, 18);
    text-align: center;
    font-size: xx-large;
}

.gap{
    top:-200px;
}

.halfmoon{
    width:100%;
    overflow-x:hidden;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin-left: 10px;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    font-size:40px;
    overflow:hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.size{
    font-size:40px;
    overflow-x:hidden;
    line-height:41px;
    margin-left:15px;
}

.link{
    font-size:25px;
    line-height:35px;
  text-decoration: none;
  text-align: left;
  margin-left: 25px;
    font-family:century gothic;
}

:root {
  --color-bg-accent: #ecdcc07e;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}


* {
  box-sizing: border-box;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}


.marquee--vertical {
  --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}

.marquee--vertical .marquee__group {
  animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}


/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  z-index: 1;
  margin-top: -320px;
  margin-bottom: 100px;
    background-image:url("IMG_20230116_220144.jpg");
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.wrapper img{
  background-color: #5656567e;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
}

